body {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.brand {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  color: #fff;
}
.brand:hover {
  color: #eee;
}
.bg-nav {
  background-color: #000000ad;
  color: #fff;
}
.brand-logo {
  height: 3em;
  width: 3em;
  border-radius: 8px;
}
.back-image-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.332), rgba(0, 0, 0, 0.352)),
    url("images/main-image.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.back-image-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.352)),
    url("images/hero2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.back-image-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.352)),
    url("images/hero3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.back-image-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.352)),
    url("images/hero4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-heading {
  color: #fff;
  height: 500px;
}
.detail {
  width: 50%;
  line-height: 1.7;
  padding: 8em 3em;
}
.product-img {
  width: 180px;
  height: 270px;
}
/* about page */
.about-image {
  width: 100%;
  height: 100%;
}
.line-space {
  line-height: 1.7;
}
/* shop page */
.shop-image {
  height: 400px;
}
/* Blog page */
.blog-img {
  width: 100%;
  height: 120px;
}
.blog-post-width {
  width: 32%;
  margin-bottom: 2em;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.418);
}
.flex-property {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1800px;
}
/* post page */
.sub-blog-img {
  width: 270px;
  height: 200px;
  margin-bottom: 1em;
}

.sub-blog-img:hover {
  border: 4px solid #000;
}
.post-text {
  column-count: 2;
  line-height: 2;
}
.social-icon {
  color: #777;
}
.social-icon:hover {
  text-decoration: none;
  color: #222;
}
.mb {
  margin-bottom: 0.195em;
}
